MY_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
export GOPATH=$MY_DIR

PATH_add script

eval "$(/usr/local/bin/bbl --state-dir $HOME/workspace/deployments-london/bosh-bbl-director-chaplin print-env)"
export BOSH_GW_PRIVATE_KEY="$HOME/workspace/deployments-london/bosh-bbl-director-chaplin/director.key"

